@charset "utf-8";
/* CSS Document */

.mini-contacts .crup { background-image:url(../images/crup-logo.png); padding-left:25px; margin-left:5px;}
#main-nav .active a { color:#3b8ced;}
#footer .widget-title { font-family:微软雅黑,黑体,Arial}
.wpb_wrapper h2 {font-family:微软雅黑,黑体,Arial}
#rev_slider_5_1{font-family:微软雅黑,黑体,Arial!important;}

h1,.page-title.title-left h1 { font-family:'微软雅黑','黑体',Arial}
.login_title { text-align:center; font-size:20px; line-height:40px; border-bottom:1px solid #eee;margin:0 15%; margin-bottom:15px;font-family:'微软雅黑','黑体',Arial }
.form-password input {
  background-image: url("");padding-right: 20px;
background-position: 97% center;
background-repeat: no-repeat;
}
.btn-block { display:block; text-align:center; margin-right:0px;}
h4,.page h4,h3 { font-family:'微软雅黑','黑体',Arial}
.testimonial-vcard .wf-td strong {
color: #333;
}
.wf-td.wf-td-img { vertical-align:top;}
.color-secondary, .text-secondary {
color: #666;
}
.stripe-style-2 .text-secondary {
color: #666;
}
.sidebar-bg-off .sidebar-content {
background: none;
border: none;
}
.main-gradient {
display: none;
}
#footer { background:none;}

.more-content { display:none;}
.update-time { float:right;}
.detail-img { float:left; margin-right:15px; margin-bottom:15px;}
.details.more-link { float:left;}


.blog-content h2 { font-family:'微软雅黑','黑体',Arial}
article.post { border-bottom:1px dotted #ddd; margin-bottom:15px; padding-bottom:15px;}
article.post .dt-btn-s { display:block;}
.recent-posts img { margin-right:20px;}

.contact-form input[type=text] { margin-bottom:15px;}

.overlap-b #header {
background-image: none, -moz-linear-gradient(bottom,rgba(255,255,255,0.75) 0px,rgba(255,255,255,0.8) 10px,rgba(255,255,255,0.86) 20px,rgba(255,255,255,0.9) 30px,rgba(255,255,255,0.94) 40px,rgba(255,255,255,0.98) 50px,rgba(255,255,255,0.99) 60px,#ffffff 70px);
background-image: none, -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,#ffffff));
background-image: none, -webkit-linear-gradient(bottom,rgba(255,255,255,0.75) 0px,rgba(255,255,255,0.8) 10px,rgba(255,255,255,0.86) 20px,rgba(255,255,255,0.9) 30px,rgba(255,255,255,0.94) 40px,rgba(255,255,255,0.98) 50px,rgba(255,255,255,0.99) 60px,#ffffff 70px);
background-image: none, -o-linear-gradient(bottom,rgba(255,255,255,0.75) 0px,rgba(255,255,255,0.8) 10px,rgba(255,255,255,0.86) 20px,rgba(255,255,255,0.9) 30px,rgba(255,255,255,0.94) 40px,rgba(255,255,255,0.98) 50px,rgba(255,255,255,0.99) 60px,#ffffff 70px);
background-image: none, -ms-linear-gradient(bottom,rgba(255,255,255,0.75) 0px,rgba(255,255,255,0.8) 10px,rgba(255,255,255,0.86) 20px,rgba(255,255,255,0.9) 30px,rgba(255,255,255,0.94) 40px,rgba(255,255,255,0.98) 50px,rgba(255,255,255,0.99) 60px,#ffffff 70px);
background-image: none, linear-gradient(to top,rgba(255,255,255,0.75) 0px,rgba(255,255,255,0.8) 10px,rgba(255,255,255,0.86) 20px,rgba(255,255,255,0.9) 30px,rgba(255,255,255,0.94) 40px,rgba(255,255,255,0.98) 50px,rgba(255,255,255,0.99) 60px,#ffffff 70px);
background-color: transparent;
background-repeat: repeat;
background-position: center top;
border-bottom: none;
-webkit-box-shadow: 0px 1px 0px 0px rgba(5,38,57,0.05);
-moz-box-shadow: 0px 1px 0px 0px rgba(5,38,57,0.05);
box-shadow: 0px 1px 0px 0px rgba(5,38,57,0.05);
}

.overlap-b #fancy-header {
margin-top: -70px;
margin-bottom: -70px;
}
.overlap-b #fancy-header .wf-wrap {
padding-top: 70px;
padding-bottom: 70px;
}
.overlap-b #header,.overlap-b #main {
position: relative;
z-index: 10;
}
.is-webkit.overlap-b #fancy-header {
position: relative;
}
.is-webkit.overlap-b #main {
-webkit-box-shadow: none;
box-shadow: none;
}
.overlap-b #main {
background-image: none, #ffffff none repeat center top, -moz-linear-gradient(top,rgba(255,255,255,0.75) 0px,rgba(255,255,255,0.8) 5px,rgba(255,255,255,0.86) 10px,rgba(255,255,255,0.9) 20px,rgba(255,255,255,0.94) 30px,rgba(255,255,255,0.98) 50px,rgba(255,255,255,0.99) 60px,#ffffff 70px);
background-image: none, -webkit-gradient(linear,left top,left bottom,color-stop(0%,rgba(255,255,255,0)),color-stop(100%,#ffffff));
background-image: none, -webkit-linear-gradient(top,rgba(255,255,255,0.75) 0px,rgba(255,255,255,0.8) 5px,rgba(255,255,255,0.86) 10px,rgba(255,255,255,0.9) 20px,rgba(255,255,255,0.94) 30px,rgba(255,255,255,0.98) 50px,rgba(255,255,255,0.99) 60px,#ffffff 70px);
background-image: none, -o-linear-gradient(top,rgba(255,255,255,0.75) 0px,rgba(255,255,255,0.8) 5px,rgba(255,255,255,0.86) 10px,rgba(255,255,255,0.9) 20px,rgba(255,255,255,0.94) 30px,rgba(255,255,255,0.98) 50px,rgba(255,255,255,0.99) 60px,#ffffff 70px);
background-image: none, -ms-linear-gradient(top,rgba(255,255,255,0.75) 0px,rgba(255,255,255,0.8) 5px,rgba(255,255,255,0.86) 10px,rgba(255,255,255,0.9) 20px,rgba(255,255,255,0.94) 30px,rgba(255,255,255,0.98) 50px,rgba(255,255,255,0.99) 60px,#ffffff 70px);
background-image: none, linear-gradient(to bottom,rgba(255,255,255,0.75) 0px,rgba(255,255,255,0.8) 5px,rgba(255,255,255,0.86) 10px,rgba(255,255,255,0.9) 20px,rgba(255,255,255,0.94) 30px,rgba(255,255,255,0.98) 50px,rgba(255,255,255,0.99) 60px,#ffffff 70px);
background-repeat: repeat;
background-attachment: ;
background-position: center top;
background-size: auto;
-webkit-box-shadow: 0px -1px 0px 0px rgba(5,38,57,0.05);
-moz-box-shadow: 0px -1px 0px 0px rgba(5,38,57,0.05);
box-shadow: 0px -1px 0px 0px rgba(5,38,57,0.05);
}

#page .tp-rightarrow.default.custom:hover:before {
background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org…%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22rgba(255,255,255,0.7)%22%20points=%2229.75,27.45%202.322,0%200.266,2.054%2025.638,27.45%200.25,52.813%202.305,54.869%20%22/%3E%20%3C/svg%3E");
}
#page .tp-leftarrow.default.custom:before {
background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org…734,52.815%204.363,27.419%2029.75,2.057%2027.695,0%20%22/%3E%20%3C/svg%3E");
}
#page .tp-leftarrow.default.custom:after {
background-image: url("data:image/svg+xml,%3Csvg%20version=%221.1%22%20xmlns=%22http://www.w3.org…%2055%22%20xml:space=%22preserve%22%3E%3Cpolygon%20fill=%22rgba(0,0,0,0.15)%22%20points=%220.25,27.419%2027.678,54.869%2029.734,52.815%204.363,27.419%2029.75,2.057%2027.695,0%20%22/%3E%20%3C/svg%3E");
}

.vc_col-sm-4 { width:33%; float:left;}

@media (max-width: 719px) {
  .vc_col-sm-4 { width:auto; float:none;}
}

/*media all*/
.old-ie9 .overlap-b #main {
    background: #ffffff none repeat  center top;
}
/*media all*/
.overlap-b.not-webkit #main {
    position: relative;
    z-index: 1;
}
/*media all*/
.old-ie9 .overlap-b #header {
    background: #ffffff none repeat center top;
}
.old-ie .mini-contacts LI {
	padding-left:25px;
}

@media screen and (max-width: 1024px){
.courses .sidebar-right .wf-container-main {
 padding-right: 0px;
}
.courses .sidebar-bg-off.sidebar-right #content {
padding-right: 10px;
}
.courses .sidebar-bg-off #content:after {
background: none;
}
.courses .sidebar-right .sidebar {
width: 100%;
margin-right: 0px;
}
}
.xk-nav { background-color:#eee; overflow:hidden; padding-bottom:10px; border-bottom:1px solid #ccc;}
.xk-nav  li { float:left; list-style:none; margin-right:25px;}
.xk-nav  li a{ color:#666; font-family:'微软雅黑',黑体,Arial; text-decoration:none; font-size:16px; }
.xk-nav a.xkfocus{ color:#3b8ced; }
#content img { max-width:100%;}
body.page{ color:#333;}
.logo-left #branding { width:auto;}
#branding a img { width:280px; height:43px;}
#main-nav > li { margin-right:0px;}

.scroll-top{
	position: fixed;
right: 15px;
bottom: 15px;
width: 38px;
height: 38px;
opacity: 0;
filter: alpha(opacity=0);
-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
-webkit-border-radius: 17px;
-moz-border-radius: 17px;
-ms-border-radius: 17px;
-o-border-radius: 17px;
border-radius: 17px;
-webkit-transition: opacity 400ms ease;
-moz-transition: opacity 400ms ease;
-ms-transition: opacity 400ms ease;
-o-transition: opacity 400ms ease;
transition: opacity 400ms ease;
z-index: 99;
	}
.scroll-top {
background-color: none;
background-image:url(../images/scrollTop-off.png);
}
.scroll-top:hover{background-image:url(../images/scrollTop-on.png);background-repeat:no-repeat;}
.scroll-top:hover {
background-color:transparent;
}
.scroll-top:before{background-image:none;}