#tianditu{position:relative;width: 100%; height:400px; z-index: 1}
#content{z-index: 2;position:absolute; top:5px;left:20px;width: 120px;height: 155px;background-color:white ;z-index: 2;border: 1px solid yellow;
    border-radius: 10px;
}
#LTE{font-family: Arial; margin: 0px 0px; text-indent: 6px;height:15px}
#text{text-indent: 7px; font-size: 15px; color: #0000FF; margin: 0px 0px; height:15px}
.ball{margin: 3px 1px;border: 0px 0px; font-family: Arial, sans-serif;text-indent: 5px;height:15px}
.color_ball{width:10px;height: 10px; padding-right: 10px; padding-left: 20px }
#last{padding:0px 100px 6px 8px;font-family: "Abyssinica SIL"; font-size: 15px}
#form{margin-left: 20px; width: 100%;}
#selectConditionform1{width:100%}
.span{float: left;}
.bord{width:32% ; margin-top:1%;}